<!DOCTYPE html>
<html lang="it">

<head>
  <title>{{siteTitle}}</title>
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  {{> head}}
</head>

<body>
  <div class="container">
  {{> header}}

  {{#each dates}}
    <div class="row">
      <section class="three columns">
        <h3>{{isoPublishDate}}<h3>
      </section>
      <section class="nine columns">
        {{#each sources}}
          <div class="row">
            <h4>
              <a href="{{siteUrl}}">{{title}}</a>
            </h4>
          </div>
          {{#each articles}}
            <article class="row">
              <div class="four columns">
                <span class="row">
                  <h5><a href={{link}}>{{title}}</a></h5>
                </span>
                <span class="row">
                  <em>Tempo di lettura: <time>{{readingTimeInMin}} min</time></em>
                </span>
              </div>
              <div class="eight columns">
                <span class="row"><p>{{description}}</p></span>
                {{#if imageUrl}}
                  <img src="{{imageUrl}}" class="row"/>
                {{/if}}
              </div>
            </article>  
          {{/each}}
        {{/each}}
      </section>
    </div>  
  {{/each}}
</div>
</body>

</html>